@font-face {
    font-family: "DisposableDroid";
    src: url('../fonts/disposabledroid-bb/DisposableDroidBB.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}



body {
    font-family: "DisposableDroid";
    color: white;
}

.element-card {
    width: 100%;
}

.card-image {
    border: 5px solid transparent;
    transition: transform .5s ease-in-out;
}

.card-image.card-image-selected {
    border: 5px solid gold;
    border-radius: 5px;
}

.card-image.card-image-rotated {
    transform: rotate(30deg);
}

.background {
    background-size: cover;
    background-position: center;
}

.cursor-pointer {
    cursor: pointer;
}
